* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* INICIO HEADER */
#wrapper0 {
  width: 100%;
  height: 15px;
  background-color: #f38736;
}

#header {
  margin-top: 10px;
  margin-left: 10px;
}

#logo h1 a {
  color: #ff7f50;
}
#logo a {
  text-decoration: none;
}
#logo h1 {
  font-size: 3.5em;
  text-align: center;
}
.div {
  display: block;
  unicode-bidi: isolate;
}
.nav {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 24px;
}

.nav-list a {
  text-decoration: none;
  color: grey;
  padding: 20px;
}

.nav-list a:hover {
  color: orange;
}
